
/*****************************body*******************/
body
{
	background-image: url(../images/back1.svg);
	padding-top: 100px ;
	font-family: 'Roboto Condensed', sans-serif;
	
}
.clr 
{
	clear: both ;
}
/***********btn***************/
.btn 
{
	padding-top: 10px ; 
	padding-bottom: 10px ;
	padding-left: 25px ; 
	padding-right: 25px ;
	border:none ; 
	outline: none ; 
	word-spacing: 3px ;
	font-size: 16px ;
}
.modal-content
{

	
}

/*****************************************************/
/***************************first-page*********************/
.con-first-page
{
	padding-bottom: 50px ;
}
.con-first-page h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}
.con-first-page h6 
{
	color:#929292 ;
	font-size: 1.2rem ;
	
}
/***********con-3divs******/
.con-first-page .container 
{
	margin-top: 75px ; 
	
	margin-bottom: 30px ;
	
}


.con-first-page .container .col-md-3 
{
	min-height: 200px ; 
	background-color:white ;
	border:2px solid #eee ; 
	border-radius: 10px ;
	padding-bottom: 50px ;
	padding-top: 30px ;
	margin-left: 75px ;
	margin-bottom: 30px ;
	cursor: pointer ;
	
}
@media only screen and (max-width: 900px) 
{
	.con-first-page .container .col-md-3
	{
		margin-left: 40px ;
	}
}
.con-first-page .container .col-md-3:hover 
{
	
	animation: leftBorder ease-in 0.7s forwards alternate;
	
}
.con-first-page .container .col-md-3 .con-icon 
{
	float:right ; 
	width: 25px ;
	height: 25px ; 
	background-color: #acd373 ;
	border-radius: 50% ;
	line-height: 25px ;
	color:white ;
	opacity: 0 ;
	box-sizing: border-box ;
	transition: 0.5s all ease-in-out ;
}

.con-first-page .container .col-md-3 img 
{
	max-width: 100% ; 
	margin-bottom:10px ;
	
}
.con-first-page .container .col-md-3  h5 
{
	color:#000 ; 
	font-weight: bold ;
	font-size: 1.7rem ;
}
.con-first-page .container .col-md-3 p
{
	color:#a5a5a5 ; 
}

@keyframes leftBorder
{
	0%{border-left:2px solid #acd373}
	30%{border-top:2px solid #acd373}
	60%{border-right: 2px solid #acd373}
	90%{border-bottom: 2px solid #acd373}
	100%{border:2px solid #acd373}
	
}
/***********edn con-3divs******/

/************************************end of first page***************************************************/
/**********************************************************************************************************/

/********************************SEO options **************************************/
.con-seo-options-page
{
	padding-bottom: 50px ;
	display: none ;
}
.con-seo-options-page h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}

/***********con-3divs******/
.con-seo-options-page .container 
{
	margin-top: 75px ; 
	
	margin-bottom: 30px ;
	
}


.con-seo-options-page .container .col-md-3 
{
	min-height: 200px ; 
	background-color:white ;
	border:2px solid #eee ; 
	border-radius: 10px ;
	padding-bottom: 50px ;
	padding-top: 30px ;
	margin-left: 75px ;
	margin-bottom: 30px ;
	cursor: pointer ;
	
}
@media only screen and (max-width: 900px) 
{
	.con-seo-options-page .container .col-md-3
	{
		margin-left: 40px ;
	}
}
.con-seo-options-page .container .col-md-3:hover 
{
	
	animation: leftBorder ease-in 0.7s forwards alternate;
	
}
.con-seo-options-page .container .col-md-3 .con-icon 
{
	float:right ; 
	width: 25px ;
	height: 25px ; 
	background-color: #acd373 ;
	border-radius: 50% ;
	line-height: 25px ;
	color:white ;
	opacity: 0 ;
	box-sizing: border-box ;
	transition: 0.5s all ease-in-out ;
}

.con-seo-options-page .container .col-md-3 img 
{
	max-width: 100% ; 
	margin-bottom:10px ;
	
}
.con-seo-options-page .container .col-md-3  h5 
{
	color:#000 ; 
	font-weight: bold ;
	font-size: 1.7rem ;
}
.con-seo-options-page .container .col-md-3 p
{
	color:#a5a5a5 ; 
}

@keyframes leftBorder
{
	0%{border-left:2px solid #acd373}
	30%{border-top:2px solid #acd373}
	60%{border-right: 2px solid #acd373}
	90%{border-bottom: 2px solid #acd373}
	100%{border:2px solid #acd373}
	
}
/***********edn con-3divs******/


/*******************************end Of SEO options*******************************************************/

/**********************************************************************************************************/

/********************************web options **************************************/
.con-web-options-page
{
	padding-bottom: 50px ;
	display: none ;
}
.con-web-options-page h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}

/***********con-3divs******/
.con-web-options-page .container 
{
	margin-top: 75px ; 
	
	margin-bottom: 30px ;
	
}


.con-web-options-page .container .col-md-3 
{
	min-height: 200px ; 
	background-color:white ;
	border:2px solid #eee ; 
	border-radius: 10px ;
	padding-bottom: 50px ;
	padding-top: 30px ;
	margin-left: 75px ;
	margin-bottom: 30px ;
	cursor: pointer ;
	
}
@media only screen and (max-width: 900px) 
{
	.con-web-options-page .container .col-md-3
	{
		margin-left: 40px ;
	}
}
.con-web-options-page .container .col-md-3:hover 
{
	
	animation: leftBorder ease-in 0.7s forwards alternate;
	
}
.con-web-options-page .container .col-md-3 .con-icon 
{
	float:right ; 
	width: 25px ;
	height: 25px ; 
	background-color: #acd373 ;
	border-radius: 50% ;
	line-height: 25px ;
	color:white ;
	opacity: 0 ;
	box-sizing: border-box ;
	transition: 0.5s all ease-in-out ;
}

.con-web-options-page .container .col-md-3 img 
{
	max-width: 100% ; 
	margin-bottom:10px ;
	
}
.con-web-options-page .container .col-md-3  h5 
{
	color:#000 ; 
	font-weight: bold ;
	font-size: 1.7rem ;
}
.con-web-options-page .container .col-md-3 p
{
	color:#a5a5a5 ; 
}

@keyframes leftBorder
{
	0%{border-left:2px solid #acd373}
	30%{border-top:2px solid #acd373}
	60%{border-right: 2px solid #acd373}
	90%{border-bottom: 2px solid #acd373}
	100%{border:2px solid #acd373}
	
}
/***********edn con-3divs******/
/***************************************end of web option*************************************/
/**********************************************************************************************************/

/********************************design options **************************************/
.con-design-options-page
{
	padding-bottom: 50px ;
	display: none ;
}
.con-design-options-page h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}

/***********con-3divs******/
.con-design-options-page .container 
{
	margin-top: 75px ; 
	
	margin-bottom: 30px ;
	
}


.con-design-options-page .container .col-md-3 
{
	min-height: 200px ; 
	background-color:white ;
	border:2px solid #eee ; 
	border-radius: 10px ;
	padding-bottom: 50px ;
	padding-top: 30px ;
	margin-left: 75px ;
	margin-bottom: 30px ;
	cursor: pointer ;
	
}
@media only screen and (max-width: 900px) 
{
	.con-design-options-page .container .col-md-3
	{
		margin-left: 40px ;
	}
}
.con-design-options-page .container .col-md-3:hover 
{
	
	animation: leftBorder ease-in 0.7s forwards alternate;
	
}
.con-design-options-page .container .col-md-3 .con-icon 
{
	float:right ; 
	width: 25px ;
	height: 25px ; 
	background-color: #acd373 ;
	border-radius: 50% ;
	line-height: 25px ;
	color:white ;
	opacity: 0 ;
	box-sizing: border-box ;
	transition: 0.5s all ease-in-out ;
}

.con-design-options-page .container .col-md-3 img 
{
	max-width: 100% ; 
	margin-bottom:10px ;
	
}
.con-design-options-page .container .col-md-3  h5 
{
	color:#000 ; 
	font-weight: bold ;
	font-size: 1.7rem ;
}
.con-design-options-page .container .col-md-3 p
{
	color:#a5a5a5 ; 
}

@keyframes leftBorder
{
	0%{border-left:2px solid #acd373}
	30%{border-top:2px solid #acd373}
	60%{border-right: 2px solid #acd373}
	90%{border-bottom: 2px solid #acd373}
	100%{border:2px solid #acd373}
	
}
/***********edn con-3divs******/
/***************************************end of design option*************************************/

/*****************************budget*********************************/
.con-budget
{
	
	padding-bottom: 50px ;
	display: none ;
}
.con-budget h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}
/***************************container***************/
.con-budget .container
{
	
	margin-top: 30px ; 
	
}
.con-budget .container .con-btns
{
	min-height: 300px ; 
	padding-bottom: 30px ; 
	padding-top: 30px ;
	background-color: #acd373 ;
	border:1px solid #acd373 ;
	border-radius: 10px ;
	margin-bottom: 50px ;
	
}
.con-budget .container .con-btns .btn-block
{
	outline: none ;
	text-align: left;
	background-color: white ;
	border:none ;
	padding: 15px ;
	color:#6e6e6e ; 
	margin-bottom: 10px ;
	border:2px solid #eee ;
}
.con-budget .container .con-btns .btn-block:active
{
	box-shadow: none ; 
	border:none ; 
	outline: none ;
}
.con-budget .container .con-btns .btn-block .con-icons
{
	float:right ; 
	color:#acd373 ;
	opacity: 0 ;
}
/**************************end of budget******************************/

/*********************************************************************************************/

/*******************************user info*****************************/
.con-info
{
	
	padding-bottom: 50px ;
	display: none ;
	
}
.con-info h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}
/*****************con-user-info**********/
.con-info .con-user-info
{
	margin-top: 30px ;
	min-height: 00px;
	padding-top: 30px;
	padding-bottom: 30px ;
	background-color: #acd373 ; 
	border:1ps solid #acd373 ; 
	border-radius: 15px ;
	position: relative ;
	margin-bottom: 50px ;
	
}
.con-info .con-user-info input 
{
	width: 80% ;
	padding: 10px ;
	margin-left: 10% ;
	margin-bottom: 15px ;
	color:#acd373 ; 
	border-radius: 5px ;
	outline: none ;
	border: none ;
}

/***********************************end of user info ************************/
/**************************************thanks************************/
.thanks 
{
	display: none ;
}
.thanks h3
{
	font-size: 4.5rem ; 
	color:#acd373 ;
	font-weight: bold ;
	
	

}
.thanks img 
{
	max-width: 100% ; 
	margin-bottom: 30px ;
	
}
.thanks h5
{
	font-size: 2rem;
	color:#777 ;
	text-transform: capitalize ;
	
}
