
/*****************************body*******************/
body
{
	background-image: url(../images/back1.svg);
	padding-top: 100px ;
	font-family: 'Roboto Condensed', sans-serif;
	
}
.clr 
{
	clear: both ;
}
/*****************************************************/
/***************************first-page*********************/
.con-first-page
{
	padding-bottom: 50px ;
}
.con-first-page h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}
.con-first-page h6 
{
	color:#929292 ;
	font-size: 1.2rem ;
	
}
/***********con-3divs******/
.con-first-page .container 
{
	margin-top: 75px ; 
	margin-left:35px ;
	margin-bottom: 30px ;
	
}


.con-first-page .container .col-md-3 
{
	min-height: 200px ; 
	background-color:white ;
	border:2px solid #eee ; 
	border-radius: 10px ;
	padding-bottom: 50px ;
	padding-top: 30px ;
	padding-left: 25px ; 
	padding-right: 25px ;
	margin-bottom: 30px ;
	cursor: pointer ;
	
	
}
.con-first-page .container .col-md-3:hover 
{
	
	animation: leftBorder ease-in 0.7s forwards alternate;
	
}
.con-first-page .container .col-md-3 .con-icon 
{
	float:right ; 
	width: 25px ;
	height: 25px ; 
	background-color: #acd373 ;
	border-radius: 50% ;
	line-height: 25px ;
	color:white ;
	opacity: 0 ;
	box-sizing: border-box ;
	transition: 0.5s all ease-in-out ;
}

.con-first-page .container .col-md-3 img 
{
	max-width: 100% ; 
	margin-bottom:10px ;
	
}
.con-first-page .container .col-md-3  h5 
{
	color:#000 ; 
	font-weight: bold ;
	font-size: 1.7rem ;
}
.con-first-page .container .col-md-3 p
{
	color:#a5a5a5 ; 
}

@keyframes leftBorder
{
	0%{border-left:2px solid #acd373}
	30%{border-top:2px solid #acd373}
	60%{border-right: 2px solid #acd373}
	90%{border-bottom: 2px solid #acd373}
	100%{border:2px solid #acd373}
	
}
/***********edn con-3divs******/
/***********btn***************/
.btn 
{
	padding-top: 10px ; 
	padding-bottom: 10px ;
	padding-left: 25px ; 
	padding-right: 25px ;
	border:none ; 
	outline: none ; 
	word-spacing: 3px ;
	font-size: 16px ;
}
/***********************************************************/