
/*****************************body*******************/
body
{
	background-image: url(../images/back1.svg);
	padding-top: 100px ;
	font-family: 'Roboto Condensed', sans-serif;
	
}
/*****************************************************/
/***************************first-page*********************/
.con-first-page
{
	padding-bottom: 50px ;
}
.con-first-page h3 
{
	color:black ; 
	font-size: 2.9rem ; 
}
.con-first-page h6 
{
	color:#929292 ;
	font-size: 1.2rem ;
	
}
/***********con-3divs******/
.con-first-page .container 
{
	margin-top: 75px ; 
	margin-left:35px ;
	
	
}


.con-first-page .container .col-md-3 
{
	min-height: 200px ; 
	background-color:white ;
	border:1px solid #eee ; 
	border-radius: 10px ;
	padding-bottom: 50px ;
	padding-top: 30px ;
	padding-left: 25px ; 
	padding-right: 25px ;
	margin-bottom: 30px ;
	cursor: pointer ;
	
}
.con-first-page .container .col-md-3:hover 
{
	transform: translateZ(-2px);
	animation: leftBorder ease-in 1s forwards;
}
.con-first-page .container .col-md-3 img 
{
	max-width: 100% ; 
	margin-bottom:10px ;
	
}
.con-first-page .container .col-md-3  h5 
{
	color:#000 ; 
	font-weight: bold ;
	font-size: 1.7rem ;
}
.con-first-page .container .col-md-3 p
{
	color:#a5a5a5 ; 
}

@keyframes leftBorder
{
	0%{border-left:1px solid green}
	30%{border-top:1px solid green}
	60%{border-right: 1px solid green}
	90%{border-bottom: 1px solid green}
	
}
/***********edn con-3divs******/
/***********************************************************/